# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binaries
*.test

# Output of `go build`
/playground
*.out

# Logs
*.log
logs/
*.tmp

# IDE/editor settings
.vscode/
.idea/
*.swp
*~

# Dependency directories (if using vendoring)
vendor/

# OS-specific files
.DS_Store
Thumbs.db